<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

  <!-- Side navigation -->
  <div class="sidenav">
    <ul>
      <li><a href="default.asp">Dashboard</a></li>
      <li><a href="news.asp">Bugs</a></li>
      <li><a href="contact.asp">Services</a></li>
      <li><a href="about.asp">Recent</a></li>
      <li><a href="about.asp">New bug</a></li>
    </ul>
  </div>

  <main>
    {{{body}}}
  </main>
  

  <script src="/javascripts/script.js"></script>
</body>
</html>