<h1>Bugs list</h1>
<ul>
    {{#each allBugsFromDB}}
        <li>
            Title : {{this.title}}     Rapporter : {{this.rapporter.firstname}}    Status : {{this.status}} <button><a href="">Edit</a></button> <button><a href="">Details</a></button><button><a href="">Deleate</a></button>
        </li>

    {{/each}}
</ul>
