<form class="container w-75">
  <p class="h3"> New Bug</p>

  <div class="form-group row mt-5">
    <label for="staticEmail" class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-10">
      <input type="text" name="title" class="form-control-plaintext" placeholder="le nom du bug">
    </div>
  </div>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Rapporter</label>
    <div class="col-sm-10">
      <input type="text" readonly class="form-control-plaintext" value="{{user.firstname}} {{user.lastname}}">
    </div>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Solution</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>
  <select id="inputService" name="services" class="form-control mb-5">
        {{!-- afficher tous les service dans une boite select --}}
        {{#each servicesFromDB}}
        <option value="{{id}}" {{#if selected}}selected="selected" {{/if}}>{{name}}</option>
        {{/each}}
      </select>
<button type="button" class="btn btn-lg btn-primary" disabled>Primary button</button>
<button type="button" class="btn btn-secondary btn-lg" disabled>Button</button>
</form>