
<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">


  <ul class="navbar-nav d-flex ml-2">
    <li class="nav-item">
      <a class=" nav-link border border-danger rounded p-2">
        <img class=" " src="images/bug.svg" alt="" width="30" height="30">
      </a>
    </li>
    <li class="nav-item active ">
      <a class="nav-link" href="#">B-Track</a>
    </li>
  </ul>



  <form class="form-inline">
    
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    {{#if user.imageURL}}
     <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-5" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"><img src="{{user.imageURL}}" class="rounded-circle z-depth-0" width="40" height="40" alt="avatar image">
      </a>
    {{else}}
    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-5" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"><img src="https://res.cloudinary.com/dshuazgaz/image/upload/v1602411437/avatar_el8zal.webp" class="rounded-circle z-depth-0" width="40" height="40" alt="avatar image">
      </a>
    {{/if}}


  </form>
</nav>