<div id="login">
  <h2>Login</h2>
  <form action="/login" method="POST">
    <label>
      Email
      <input type="email" id="input-email" name="email" placeholder="Your email" />
    </label>
 
    <label>
      Password
      <input type="password" name="password" id="input-password" placeholder="********" />
    </label>
    <a href="https://localhost/signup"> Forget password </a>
 
    <button>Log in</button>
     <button>Sign up</button>
 
    {{!-- error message will be added here --}}
  </form>
</div>