<div id="signup">
  <h2>Signup</h2>
  <form id= "form" action="/signup" method="POST">
      <label>
        First name
        <input type="text" name="firstname" placeholder="Your first name" />
      </label>
      <label>
        Last name
        <input type="text" name="lastname" placeholder="Your last name" />
      </label>
      Service
      <select name="service">
        {{!-- afficher tous les service dans une boite select --}}
        {{#each servicesFromDB}}
        <option value="{{id}}" {{#if selected}}selected="selected" {{/if}}>{{name}}</option>
        {{/each}}
      </select>
      Role
      <select name="role">
        <option value="manager">Manager</option>
        <option value="employee">Employee</option>
        <option value="validator">Validator</option>
      </select>

      <label>
        Email
        <input type="text" id="input-email" name="email" placeholder="Your email" />
      </label>

      <label>
        Password
        <input type="password" name="password" class="input-password" placeholder="********" />
      </label>
      <label>
        Confirm Password
        <input type="password" name="password2" class="input-password" placeholder="********" />
      </label>

      <button>Create account</button>
      {{!-- <button type="reset">Cancel</button> --}}

      {{!-- error message will be added here --}}
      {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
      {{/if}}
  </form>
  <a href="#">Log in</a>
</div>